.field{
    height: 200px;
    max-width: 350px;
    background-color: white;
    border-radius: 10px;
}

.field-link{
    text-decoration: none;
    color: inherit;
}

.field-header{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.field-city{
    margin: 0px;
    padding: 10px;
    position:relative;
    font-size: 36px;
    color: white;
}

.other-field-data{
    display: flex;
    height: max-content;
    gap: 20px;
    padding: 0px 20px;
    justify-content: space-between;
    align-items: center;
}